{% extends "base.html" %}

{% block content %}

<h1>Welcome!</h1>
<p>Your email address is {{ user.email }}.</p>
<p>How about heading over to the <a class="to-the-dashboard" href="{% url 'dashboard' %}">dashboard</a>?</p>

<div class="logout-link">
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>

<div class="danger-zone">
    <h2>Danger Zone</h2>
    <form method="post" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <button type="submit">Delete My Account</button>
    </form>
</div>

{% endblock %}