{% extends "base.html" %}

{% block content %}


<h2>About Syfty</h2>

<p>Syfty is the ultimate solution for staying up-to-date with the latest discussions and trends on Reddit. It has been
    in development for several months. Our team of passionate developers and designers has worked tirelessly to create
    a powerful and user-friendly app that simplifies the process of monitoring Reddit posts and threads.</p>

<p>The idea for the app came from our own frustration with trying to keep up with the vast amount of content on Reddit.
    We realized that many people must also struggle to stay on top of the latest news and discussions related to their
    interests.</p>

<p>Check out how we created Syfty:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/rsJDW1nUl2s" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

{% endblock %}