{% extends "base.html" %}

{% block content %}

<div class="terms-of-use">
    <h2>Terms of Use</h2>

    <span>By using Syfty, you agree to the following terms of use:</span>
    <ol>
        <li>Acceptance of Terms. By accessing or using Syfty, you agree to be bound by these Terms of Use, our Privacy
            Policy,
            and all applicable laws and regulations. If you do not agree to these terms, please do not use Syfty.</li>

        <li>Description of Service. Syfty is an app that sends email notifications about new Reddit posts to users who
            sign
            up.
            The app is intended to help users stay up-to-date with the latest discussions and trends on Reddit.</li>

        <li>User Conduct. By using Syfty, you agree to conduct yourself in a lawful and respectful manner. You must not
            use
            Syfty for any illegal or unauthorized purpose, and you must not interfere with or disrupt the app or its
            servers
            or
            networks.</li>

        <li>User Content. By using Syfty, you may be able to upload or submit content, including but not limited to
            text,
            images, and links. You retain all rights to your content, but by uploading or submitting it, you grant Syfty
            a
            non-exclusive, royalty-free, perpetual, and irrevocable license to use, display, reproduce, and distribute
            your
            content in connection with the app.</li>

        <li>Intellectual Property. The app and its content, including but not limited to text, graphics, logos, images,
            and
            software, are the property of Syfty or its licensors and are protected by copyright, trademark, and other
            intellectual property laws.</li>

        <li>Disclaimers. Syfty makes no representations or warranties about the accuracy, reliability, completeness, or
            timeliness of the app or its content. The app is provided "as is" without warranty of any kind.</li>

        <li>Limitation of Liability. Syfty will not be liable for any direct, indirect, incidental, special, or
            consequential
            damages arising out of or in connection with the use of the app or its content.</li>

        <li>Termination. Syfty reserves the right to terminate or suspend your access to the app at any time, for any
            reason,
            without notice.</li>

        <li>Changes to Terms. Syfty reserves the right to modify or update these Terms of Use at any time without
            notice.
            Your
            continued use of Syfty after any changes to these terms constitutes your acceptance of the modified terms.
        </li>

        <li>Governing Law. These Terms of Use and your use of Syfty are governed by the laws of the state of California.
        </li>

        <li>By using Syfty, you acknowledge that you have read, understood, and agree to these Terms of Use.</li>
    </ol>
</div>


{% endblock %}