{% extends "base.html" %}

{% block content %}


<div class="landing-page-hello">
    <h1>Syfty - stay on top of your subreddits.</h1>

    <p>Stop worrying about missing out. We'll let you know when what you're looking for shows up.</p>
</div>

<div class="landing-page-feature">
    <h2>How Syfty works</h2>
    <p>Let us know what you're looking for, and we'll let you know when it shows up - it's as simple as that.</p>
    <p>Notifications are currently available by email.</p>

    <h2>Prioritizing privacy, always</h2>
    <p>We understand the responsibility that comes with storing information about your interests. All data is stored
        securely. And most importantly, we don't sell data to anyone - ever.</p>
    <h2>Stay up to date</h2>
    <p>Syfty is perfect for anyone who wants to stay informed about breaking news, new products, and trends across
        Reddit. Whether you're a marketer, journalist, or just a casual Reddit user, our app is the perfect tool for
        you.</p>
</div>
{% endblock %}