{% extends "base.html" %}

{% block content %}

<div class="privacy-policy">
    <h2>Privacy Policy</h2>

    <span>At Syfty, we take the privacy of our users very seriously. This Privacy Policy outlines the types of
        information that we collect, how we use it, and how we protect it.</span>

    <h3>Information Collection and Use</h3>

    <p>When you sign up for Syfty, we collect your email address, your preferred username, and your interests. We use
        this
        information to send you email notifications based on the interests that you indicate. We may also use your email
        address to send you other relevant information about Syfty or to contact you regarding your account.</p>

    <p>We will not share your email address with any third parties, except as required by law or as necessary to provide
        our services. We may use third-party services to send our email notifications, but we will ensure that they are
        in
        compliance with our Privacy Policy.</p>

    <h3>Cookies</h3>

    <p>Syfty uses cookies to personalize your experience and to analyze usage patterns. Cookies are small files that are
        stored on your computer when you visit a website. We use cookies to remember your preferences, to understand how
        you
        interact with our website, and to improve our services.</p>

    <p>If you do not want cookies to be stored on your computer, you can disable them in your browser settings. However,
        this may affect your ability to use certain features of Syfty.</p>

    <h3>Data Security</h3>

    <p>We take the security of our users' data very seriously. We safeguard your
        data from unauthorized access, disclosure, or destruction. We also regularly monitor our systems for security
        vulnerabilities and employ best practices to keep our systems secure.</p>

    <h3>Your Rights</h3>

    <p>You have the right to access, modify, or delete the personal information that we have collected from you. You can
        update your email address, username, or interests at any time by logging in to your Syfty account. If you wish
        to
        delete your account, you can do so by contacting us at hello@syfty.net.</p>

    <h3>Changes to This Privacy Policy</h3>

    <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by email or by
        posting a notice on our website. Your continued use of Syfty after any such changes indicates your acceptance of
        the
        updated Privacy Policy.</p>

    <h3>Contact Us</h3>

    <p>If you have any questions or concerns about our Privacy Policy, please contact us at hello@syfty.net.</p>

</div>


{% endblock %}