{% extends "base_generic.html" %}

{% block content %}
<div class="main">
    <h1>Welcome to Syfty - The Ultimate Tool for Staying Up-to-Date on Reddit!</h1>

    <p>Are you tired of constantly refreshing Reddit to keep up with the latest posts? Look no further than Syfty,
        the perfect tool to stay up-to-date with your favorite subreddits.</p>

    <p>Our easy-to-use app lets you specify the subreddits you're interested in, and you'll receive notifications
        for
        any
        new posts that match your criteria. You'll never miss a relevant post again, even if you're not actively
        browsing
        Reddit!</p>

    <p>Syfty is perfect for anyone who wants to stay informed about breaking news, new products, and trends across
        Reddit. Whether you're a marketer, journalist, or just a casual Reddit user, our app is the perfect tool for
        you.
    </p>

    <p>Our app is user-friendly, and you can easily set up your notifications in just a few clicks. We offer a free
        plan
        that includes notifications for up to three subreddits, and our premium plan allows for unlimited subreddits
        and
        more advanced notification features.</p>

    <p>Our app is secure, and we take data privacy seriously. All user data is stored securely, and we follow
        industry
        best
        practices for data protection.</p>

    <p>Don't wait any longer - Sign up for Syfty today and start receiving notifications for the posts that matter
        to you!</p>
    <p><a href="{% url 'signup' %}">Sign up</a></p>


    <br>
    <div class="psuedofooter">
        <p>See information about the project <a href="https://github.com/ekand/syfty" target="_blank">on
                GitHub</a>.</p>
    </div>


</div>
{% endblock %}