{% extends "base.html" %}

{% block content %}

<form action="{% url 'update' syft.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h2>Edit Syft</h2>
        </legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="subreddit">Subreddit: </label>
        <input id="subreddit" type="text" name="subreddit" value="{{ syft.subreddit }}">
        <label for="search_term">Search Term: </label>
        <input id="search_term" type="text" name="search_term" value="{{ syft.search_term }}">
        <input type="submit" value="OK">
    </fieldset>
    <p><a class="back-to-syfts-list" href="{% url 'dashboard' %}">Back to Syfts list</a></p>

    {% endblock %}